body {
    font-family: "Playfair Display", serif;
    background-color: yellow;
    margin: 0;
}

header {
    margin: 0;
    font-size: 12pt;
    padding: 1rem;
    display: flex;
    border-bottom: 5px solid black;
    justify-content: space-between;
}



nav ul {
    
    margin:0;
    padding: 10px 0;
    display:flex;
    justify-content:right;
    gap: 60px;
   list-style-type: none;
    
}

nav a {
    text-decoration: none;
    text-transform:uppercase;
}

section.collezione {
   text-align: center;
    margin:0;
    padding: 2rem;
    
    
}
section.collezione p {
    max-width: 72ch;
    text-align:left;
     margin:auto;
     padding:0 1rem;
     line-height: 1.3;
     margin-bottom: 1.3;
     }


      


     .grid {
        column-count: 1;
        column-gap: 16px;
       
    }
    
    .grid {
        display:flex;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    
    .image {
        max-width: 100%; 
        max-height: 100%; 
    }
    
    @media (max-width:600px) {
        .grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    footer{
        margin-top: 60px;
        display: flex;
        justify-content:left;
        gap: 60px;
        padding: 20px 20;
        font-size: 10pt;
        background-color: black;
        
        
    }

   
    
    footer p {
    text-align:left;
    font-size: 10pt;
    text-decoration: none;
    color: white;
    }