body {
  font-family: "Playfair Display", serif;
    background-color: yellow;
    margin: 0;
}



header {
    margin: 0;
    font-size: 12pt;
    padding: 1rem;
    display: flex;
    border-bottom: 5px solid black;
    justify-content: space-between;
}



nav ul {
    
    margin:0;
    padding: 10px 0;
    display:flex;
    justify-content:right;
    gap: 60px;
   list-style-type: none;
    
}

nav a {
    text-decoration: none;
    text-transform:uppercase;
}


.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: black;
  }
  
  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .checkbox {
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
    top: 16x;
    right: 16px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .checkbox {
      display: block;
    }
    nav ul {
      gap: 10px;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: #333b;
      width: 100%;
      height: 100%;
      justify-content: center;
      text-align: center;
    }
  
    input[type="checkbox"]:checked ~ nav ul {
      opacity: 100;
    }
  
    .hamburger-lines {
      opacity: 100;
    }
  
    ul li {
      display: block;
    }
  
     .submenu {
      width: 100%;
      display: block;
      position: relative;
      padding: 10px 0;
      margin: 0;
     }
  }
  

main h2 {
   text-align: center;
    margin:auto;
    padding: 2rem;
    
    
}

.grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 1200px;
    margin: auto;
}

.image {
   max-width: 100%;
   max-height: 100%;
   object-fit:cover; 
    
}

.grid a {
    position: relative;
    display: block;
    color: #fff;
}

.grid a:hover:before { 
    content:"";
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}




@media (max-width:600px) {
    .grid {
    grid-template-columns: repeat(1, 1fr);
     
}

.grid a {
    color: #000;
    margin-bottom: 16px;
}

.grid a:hover:before {
    background: none;
}

.footer {
  max-width: 50%;
  max-height: 50%;
}
}




footer{
  margin-top: 60px;
  display: flex;
  justify-content:left;
  gap: 60px;
  padding: 20px 20;
  font-size: 10pt;
  background-color: black;
  
  
}



footer p {
text-align:left;
font-size: 10pt;
text-decoration: none;
color: white;
}